<h3>Post a Comment</h3>

<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, current_user.email %><br/>
    <%= f.text_field :author_name, :value => current_user.email, class: "no-show-user" %>
  </p>

  <p>
    <%= f.label :body, class: 'form-style-5'  %><br/>
    <%= f.text_area :body, class: 'form-style-5'  %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
