<script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<div class="view-holder">
    <div class="now-viewing view">
        Now displaying
    </div>

    <div class="dropdown view">
        <span>All Sports</span>
        <div class="dropdown-content">
            <p><a href="../tags/1">all sports</a></p>
            <p><a href="../tags/1">basketball</a></p>
            <p><a href="../tags/2">football</a></p>
            <p><a href="../tags/3">soccer</a></p>
            <p><a href="../tags/4">baseball</a></p>
        </div>
    </div>
    <div class="end-viewing view">
        games
    </div>
</div>


<div class="rightsign">
    <% if user_signed_in? %>
    <p class="right-user">
        <%= link_to current_user.email.split('@')[0], current_user %> <span class="loggerout"><%= link_to "Logout", destroy_user_session_path %></span>
    </p>
    <%= link_to "Start A Sports Game", new_article_path, class: "new_article" %>
    <% else %>
    <p class="right-user"><%= link_to "Login", new_user_session_path %></p>
    <%= link_to 'login to start a game', '/users/sign_in', method: :get, class: "new_article" %>
    <% end %>
</div>

<div class="gmapper">
    <div id="map" style=' height: 350px;'></div>
</div>


<div id= "articles-holder">
    <% @articles.each do |article| %>
        <div class="all_articles">
            <div class="general-data">
                <h2 class="art-title"><%= link_to article.title.length >= 20 ? article.title.first(20) + "..." : article.title, article_path(article), 'data-no-turbolink' => true %></h2>
                <p> Setting: <%= article.setting %> <br>
                 Location: <%= article.location %></p>
                <p class="joined_body"><%= article.body.length >= 60 ? article.body.first(60) + "..." : article.body  %></p>
            </div>
            <div class="game-date">
                <p class="month"><%= article.month.to_s.first(3) %></p>
                <h2 class="day"><%= article.day.to_i.floor %></h2>
                <p class="time"><%=  article.time %></p>
            </div>
            <div class="players"></div>
                <p class="joined_players"><%= article.users.length %> joined out of <%= article.players%> </p>
                <p class = "postedby">posted by: </span>
                <% if article.users.length >= 1 %>
                    <span class=posted> <%= link_to article.player_names, '/users/1' %> </span>
                <% end %>
            </p>
        </div>
    <% end %>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var markers = handler.addMarkers([

        <% @articles.each do |article| %>
            { lat: <%= article.latitude %>, lng: <%= article.longitude %>,
                infowindow: "<%= article.title %>"
            },
        <% end %>

    ]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>
