<script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>


<div class="view-holder">

    <ul id="article-control">
        <li><%= link_to '< back', articles_path, 'data-no-turbolink' => true, id: "back-article"%></li>
        <% if user_signed_in? %>
        <% if  (@article.users.exists? )%>
        <% if (@article.player_names == current_user.email) %>
        <li><%= link_to 'delete', article_path(@article), id: "delete-article",  method: :delete, data: {confirm: "Really delete the article?"} %></li>
        <li><%= link_to 'edit', edit_article_path(@article), id: "edit-article" %></li>
        <% end %>
        <% end %>
        <% end %>
    </ul>
</div>

<div class="rightsign">
    <% if user_signed_in? %>
    <p class="right-user">
        <%= link_to current_user.email.split('@')[0], current_user %> <span class="loggerout"><%= link_to "Logout", destroy_user_session_path %></span>
    </p>
    <%= link_to "Start A Sports Game", new_article_path, class: "new_article" %>
    <% else %>
    <p class="right-user"><%= link_to "Login/Sign-up", new_user_session_path %></p>
    <%= link_to 'login to start a game', '/users/sign_in', method: :get, class: "new_article" %>
    <% end %>
</div>

<div class="game-info">


    <div class="gmapper">
        <div id="map" style=' height: 350px;'></div>
    </div>


<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>




<div class="article-game-info">
    <div class="game-date">
        <p class="month"><%= @article.month.to_s.first(3) %></p>
        <h2 class="day"><%= @article.day.to_i.floor %></h2>
        <p class="time"><%=  @article.time %></p>
    </div>
    <div class=game-data>
    <div id="h1-title"><h1><%= @article.title %></h1></div>
    <% if @article.users != [] %>
    <p class="postauthor"><span class="talic">posted by: </span> <%= @article.player_names %> on <%= @article.created_at.strftime("%b %d, %Y") %> </p>
    <% end %>

    <p><span class="talic"> sport: </span><%= @article.sport %> </p>

    <p><span class="talic">description:</span> <br>
        <%= @article.body %> </p>
    <p>
        <span class="talic"> Setting: </span><%= @article.setting %>  <br>
        <span class="talic"> Location: </span><%= @article.location %>  <br>
        <span class="talic"> Address: </span><%= @article.address%> <%= @article.city %> <%= @article.state %> <%= @article.zipcode %>
    </p>

    <div class="players-list">
        <ul>
            <li>    <span class="talic"> players joined: </span> </li>
            <% @article.users.each do |users|  %>
            <li><%= link_to users.email, users %></li>
            <% end %>
        </ul>
        <%= @article.players - @article.users.length %> spots left out of <%= @article.players %>


    </div>

    <% if user_signed_in? %>
        <%= form_for @article do |f| %>
            <% if @article.users.length < 1 %>
                    <p class="hideforplayer"><%= f.text_field :player_names, :value => current_user.email, :required => true %></p>
            <% end %>
        <p class="hideforplayer"><%= f.label :title %> <%= f.text_field :title %></p>
        <p class="join-party"> <%= f.submit "join game"%></p>
        <% end %>

    <% else %>
        <p class="logininplease">
            please <span><%= link_to 'login', '/users/sign_in', method: :get  %></span> to join this game
        </p>
    <% end %>

    </div>
    </div>
</div><!--gameinfo div  -->


<div class="comments-area">
<h3>Comments (<%=@article.comments.size %>)</h3>
<div id="commeter"><%= render partial: 'articles/comment', collection: @article.comments %></div>

    <% if user_signed_in? %>
    <div id="comments_form">
      <%= render partial: 'comments/form' %>
    </div>

    <% else %>
    <div id="comments-login">
        <p class="logininplease">
            please <span><%= link_to 'login', '/users/sign_in', method: :get  %></span> to post a message
        </p>
    </div>
    <% end %>
</div>



<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @article.latitude %>,
      "lng": <%= @article.longitude %>,
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(15);
});

</script>
