<!DOCTYPE html>
<html>
<head>
  <title>NautsRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="leftbar">
    <div class="navbar-header">
        <a href="../" class="navbar-brand"><img src="http://i.imgur.com/D0Dxbal.png" alt=""></a>
    </div>

    <div class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
            <div class="useruser"><%= link_to current_user.email, current_user %> <span class="loggerout"><%= link_to "Logout", destroy_user_session_path %></span></div>
            <div class="user-info">
                <div class="articles-created">
                    <h2>Sports Started</h2>

                    <% current_user.articles.take(5).each do |art| %>
                    <% if art.player_names == current_user.email %>
                        <p><%= link_to art.title, article_path(art), 'data-no-turbolink' => true %></p>
                    <% end %>
                    <% end %>


                    <h2>Games Joined</h2>
                    <% @articles.take(5).each do |art| %>
                    <% limit = 0 %>
                    <% if art.users.exists?(:email => current_user.email) %>
                    <p><%= link_to art.title, article_path(art), 'data-no-turbolink' => true %></p>
                    <% limit += 1 %>
                    <% break if limit == 5 %>
                    <% end %>
                    <% end %>
                    
                    <h2>Comments</h2>
                    <% @comments.where(:author_name => current_user.email).take(5).each do |art| %>
                        <p>
                        <%= link_to art.body, article_path(art.article_id), 'data-no-turbolink' => true %>
                        </p>
                    <% end %>
                </div>


            </div>
        <% else %>
            <div><%= link_to "Login", new_user_session_path %></div>
            <p>please sign-up or login to start games or join them!</p>
        <% end %>
    </div>

</div>



<% if flash.notice %>
<p class="flash"><%= flash.notice %></p>
<% end %>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <%= yield %>
            </div>
        </div>
    </div>


</body>
</html>
