<!DOCTYPE html>
<html>
<head>
  <title>NautsRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="leftbar">
    <div class="navbar-header">
        <a href="../" class="navbar-brand"><img src="../assets/nautslogo.svg" alt=""></a>
    </div>

    <div class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
            <div><%= link_to current_user.email, current_user %></div>
            <div><%= link_to "Logout", destroy_user_session_path %></div>
            <div class="user-info">
                <div class="articles-created">
                    <h2>Sports Started</h2>

                    <% current_user.articles.take(5).each do |art| %>
                    <p><%= link_to art.title, article_path(art), 'data-no-turbolink' => true %></p>
                    <% end %>
                </div>
                <div class="comments">
                    <h2>Comments</h2>
                    <% @comments.where(:author_name => "donkey@donkey.com").take(5).each do |art| %>
                        <p>
                        <%= link_to art.body, article_path(art.article_id), 'data-no-turbolink' => true %>
                        </p>
                    <% end %>
                </div>

            <div class="articles-joined">

            </div>

            </div>
        <% else %>
            <div><%= link_to "Sign in", new_user_session_path %></div>
            <p>please sign-in or login to start games or join them!</p>
        <% end %>
    </div>

</div>




<p class="flash"><%= flash.notice %></p>

    <div class="container">




        <div class="page-header" id="banner">
            <div class="row">
                <%= yield %>
            </div>
        </div>

    </div>


</body>
</html>
